
@{
    ViewBag.Title = "ThankY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <hr />
    <h2>Thank you, we will send an e-mail to cookeryappninja@gmail.com(smtp) SERÁ ENVIADO UM E-MAIL COM OS DADOS DA COMPRA!</h2>
    <hr />
</div>
